/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.lyrics {
    margin-left: 3em;
    font-style: italic;
}

.attribution  {
    font-size: smaller;
}

table .memoTB: {
    background-color: rgb(240, 224, 178);
    color: rgb(0, 102, 0);
    margin: 5px;
    padding: 3px;
}

tr.even {
    background-color: rgb(224, 213, 179);
}

