<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
-->


<h1>Memos</h1>

<form>
{% if g.memos %}
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-2">
    <input id="checkBox" type="checkbox">{{ memo.date | humanize }}
  </div>
  <div class="col-md-10">
    {{ memo.text }}
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}
<div>
  <button type="submit">Delete</button>
</div>
</form>
 
<form action="/newMsg" method="post">
  <div class="input-append date" id="dp3" data-date="12-01-2017" data-date-format="dd-mm-yyyy">
    <input class="span2" size="16" id="dt" name="dt" type="text" value="12-01-2012">
    <span class="add-on"><i class="icon-th"></i></span>
  </div>

  <div class="form-group">
    <label for="box">Message</label>
    <textarea class="form-control" id="box" name="box" rows="3"></textarea>
  </div>
  <div class="col-auto">
    <button type="submit" id="submitBtn" class="btn btn-primary">submit</button>
  </div>
</form>

<script>
var btn = document.getElementById('submitBtn');

btn.addEventListener('click', function(){
    var data_date = document.getElementByName('dt');
    var data_msg = document.getElementByName('box');

    }
)




</script>





</div> <!-- container -->
</body>
</html>
